.container{
  align-items: center;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.registration-form,.login-form{
    width: 500px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 30px;


}
.sign-up-title,.log-in-title ,.button-wrapper{
  text-align: center;
}
.login-form{
    margin-top: 50px;
}
.signup-alert,.login-alert{
  margin: 10px auto 20px;
  display: none;
}
.login-alert{
  width: 75%;
}
